<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogup</title>
    <link rel="stylesheet" href="userPage.css">
</head>
<body>
    <%- include("navbar")%>
    <div class="cardContainer">
    <% blogs.forEach(blog=>{%>
        <div class="card">
            
                <img src="<%= blog.coverImageURL%>" class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title%></h5>
                    <h7 class="card-creater"><%=blog.createdBy.username%></h7>
                    <a href="<%=blog._id%>" class="btn">View</a>
                </div>
                
    
            
            
        </div>
        <%
    })%>

    </div>
    
</body>
</html>